.carta {
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 80px;
  height: 120px;
  background-color: #369;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.carta.volteada {
  background-color: #fff;
  color: #000;
}

.carta.emparejada {
  background-color: #4caf50;
  color: #fff;
}
